{
  "trailingComma": "all",
  "printWidth": 130,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderParserPlugins": ["typescript", "decorators-legacy", "jsx", "importAssertions"],
  "importOrder": ["<THIRD_PARTY_MODULES>", "^src/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}
